@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    /* # Colors */

    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);


    /* ### Body Copy */

    --Fontsizeparagraph: 15px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.note {
    font-family: "Outfit";
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    width: fit-content;

}

.attribution {
    border: 2px double white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    background-color: white;
    width: fit-content;
    gap: 1rem;

  
    padding: 1rem 1rem;
    width: 320px;
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
}

.QR img {
    width: 100%;
    border-radius: 20px;
}


body {
    background-color: var(--Lightgray);
}
@media (max-width: 600px) {
    
.anoda1 {
    font-family: "Outfit";
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    width: fit-content;

}
}
.codeRT{
    font-family: "Outfit";
    font-weight: 400;
    font-size: 1em;
}